html {
  font-size: 16px;
}
body {
  width: 100%;
  min-width: 320px;
}
.head-con {
  display: flex;
  justify-content: space-between;
}
.head-con img {
  height: 3.75rem;
  margin-left: 0.3125rem;
}
.head-con .search {
  transform: translateY(-0.1875rem);
  align-items: center;
  display: flex;
}
.head-con .search form input {
  height: 1.875rem;
  width: 9.375rem;
  outline: none;
  border: 1px solid #6daf45;
}
.head-con .search a {
  display: inline-block;
  width: 3.375rem;
  height: 1.875rem;
  line-height: 1.875rem;
  text-align: center;
  color: #fff;
  font-size: 16px;
  background-color: #7cc551;
}
.head-con .menu img {
  width: 2.5rem;
  transform: scale(0.8);
}
.nav .wapper ul > li {
  height: 1.875rem;
}
.nav .wapper ul > li a {
  color: #555;
  font-size: 1rem;
  font-weight: 700;
}
.tip {
  margin: 0.625rem 0;
}
.tip .wapper {
  display: flex;
}
.tip .wapper a {
  font-size: 0.875rem;
  color: #555;
  padding-top: 0.625rem;
}
.conten1 > .slideshow {
  margin: 0.625rem 0;
}
.conten3 > .slideshow {
  width: 17.5rem;
  margin-left: 0.625rem 0;
}
.swiper-slide img {
  margin-left: 3rem;
}
.content1 .wapper .con-left ul {
  margin: 1.25rem 0;
  display: flex;
  flex-direction: column;
}
.content1 .wapper .con-left ul li:first-child {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.125rem solid #6daf45;
}
.content1 .wapper .con-left ul li:first-child a:first-child {
  text-align: center;
  width: 3.75rem;
  color: #fff;
  display: inline-block;
  background-color: #6daf45;
}
.content1 .wapper .con-left ul li:first-child a {
  color: #555;
  font-size: 1.25rem;
}
.content1 .wapper .con-left ul li:not(:first-child) {
  margin: 0.625rem 0;
  font-size: 1.4rem;
}
.content1 .wapper .con-left ul li:not(:first-child) a {
  color: #555;
}
.content1 .wapper .con-mid .up {
  margin: 1.25rem 0;
  display: flex;
  flex-direction: column;
}
.content1 .wapper .con-mid .up li:first-child {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.125rem solid #6daf45;
}
.content1 .wapper .con-mid .up li:first-child a:first-child {
  text-align: center;
  width: 3.75rem;
  color: #fff;
  display: inline-block;
  background-color: #6daf45;
}
.content1 .wapper .con-mid .up li:first-child a {
  color: #555;
  font-size: 1.25rem;
}
.content1 .wapper .con-mid .up li:not(:first-child) {
  margin: 0.625rem 0;
  font-size: 1.4rem;
}
.content1 .wapper .con-mid .up li:not(:first-child) a {
  color: #555;
}
.content1 .wapper .con-mid .up li:not(:first-child) div:nth-child(1) {
  font-size: 1.2rem;
}
.content1 .wapper .con-mid .up li:not(:first-child) div:nth-child(2) {
  margin: 0.5rem;
  font-size: 1.2rem;
}
.content1 .wapper .con-mid .down li {
  margin: 10px 0;
}
.content1 .wapper .con-mid .down li a {
  color: #555;
  font-size: 1.1rem;
  font-weight: 600;
}
.content1 .wapper .con-right ul {
  margin: 1.25rem 0;
}
.content1 .wapper .con-right ul li:first-child {
  text-align: center;
}
.content1 .wapper .con-right ul li:first-child a {
  color: #333;
}
.content1 .wapper .con-right ul li:not(:first-child) {
  margin: 0.625rem;
}
.content1 .wapper .con-right ul li:not(:first-child) a {
  margin-left: 0.9375rem;
  color: #555;
  font-size: 1.2rem;
}
.content1 .wapper .con-right img {
  width: 15.625rem;
  transform: translateX(25%);
}
.content2 .wapper .con2-left .up {
  display: flex;
  flex-direction: column;
}
.content2 .wapper .con2-left .up li:first-child {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.125rem solid #6daf45;
}
.content2 .wapper .con2-left .up li:first-child a:first-child {
  text-align: center;
  width: 3.75rem;
  color: #fff;
  display: inline-block;
  background-color: #6daf45;
}
.content2 .wapper .con2-left .up li:first-child a {
  color: #555;
  font-size: 1.25rem;
}
.content2 .wapper .con2-left .up li:not(:first-child) {
  margin: 0.625rem 0;
  font-size: 1.4rem;
}
.content2 .wapper .con2-left .up li:not(:first-child) a {
  color: #555;
}
.content2 .wapper .con2-left .up li:nth-child(2) {
  text-align: center;
}
.content2 .wapper .con2-left .down {
  margin: 1.25rem 0;
}
.content2 .wapper .con2-left .down .first {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.125rem solid #6daf45;
}
.content2 .wapper .con2-left .down .first a:first-child {
  text-align: center;
  width: 3.75rem;
  color: #fff;
  display: inline-block;
  background-color: #6daf45;
}
.content2 .wapper .con2-left .down .first a {
  color: #555;
  font-size: 1.25rem;
}
.content2 .wapper .con2-left .down li:nth-child(2) ul li {
  margin: 0.625rem 0;
  text-align: center;
}
.content2 .wapper .con2-left .down li:nth-child(2) ul li a {
  font-size: 1.2rem;
  color: #555;
}
.content2 .wapper .con2-left .down li {
  text-align: center;
}
.content2 .wapper .con2-mid .up li:first-child {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.125rem solid #6daf45;
}
.content2 .wapper .con2-mid .up li:first-child a:first-child {
  text-align: center;
  width: 3.75rem;
  color: #fff;
  display: inline-block;
  background-color: #6daf45;
}
.content2 .wapper .con2-mid .up li:first-child a {
  color: #555;
  font-size: 1.25rem;
}
.content2 .wapper .con2-mid .up li:not(:first-child):not(:last-child) {
  font-size: 1.1rem;
  margin: 0.625rem 0;
}
.content2 .wapper .con2-mid .up li:not(:first-child):not(:last-child) a {
  color: #555;
  font-weight: 600;
}
.content2 .wapper .con2-mid .up li:last-child {
  text-align: center;
}
.content2 .wapper .con2-mid .down {
  margin: 1.25rem 0;
}
.content2 .wapper .con2-mid .down li:first-child {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.125rem solid #6daf45;
}
.content2 .wapper .con2-mid .down li:first-child a:first-child {
  text-align: center;
  width: 3.75rem;
  color: #fff;
  display: inline-block;
  background-color: #6daf45;
}
.content2 .wapper .con2-mid .down li:first-child a {
  color: #555;
  font-size: 1.25rem;
}
.content2 .wapper .con2-mid .down li:not(:first-child):not(:last-child) {
  font-size: 1.1rem;
  margin: 1rem 0;
}
.content2 .wapper .con2-mid .down li:not(:first-child):not(:last-child) a {
  color: #555;
  font-weight: 600;
}
.content2 .wapper .con2-mid .down li:last-child {
  text-align: center;
}
.content2 .wapper .con2-right .up,
.content2 .wapper .con2-right .down {
  margin: 1.25rem 0;
}
.content2 .wapper .con2-right .up li:first-child,
.content2 .wapper .con2-right .down li:first-child {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.125rem solid #6daf45;
}
.content2 .wapper .con2-right .up li:first-child a:first-child,
.content2 .wapper .con2-right .down li:first-child a:first-child {
  text-align: center;
  width: 3.75rem;
  color: #fff;
  display: inline-block;
  background-color: #6daf45;
}
.content2 .wapper .con2-right .up li:first-child a,
.content2 .wapper .con2-right .down li:first-child a {
  color: #555;
  font-size: 1.25rem;
}
.content2 .wapper .con2-right .up li:not(:first-child):not(:last-child),
.content2 .wapper .con2-right .down li:not(:first-child):not(:last-child) {
  font-size: 1.1rem;
  margin: 1rem 0;
}
.content2 .wapper .con2-right .up li:not(:first-child):not(:last-child) a,
.content2 .wapper .con2-right .down li:not(:first-child):not(:last-child) a {
  color: #555;
  font-weight: 600;
}
.content2 .wapper .con2-right .up li:last-child,
.content2 .wapper .con2-right .down li:last-child {
  text-align: center;
}
.content3 .wapper .con3-left .up {
  margin: 1.25rem 0;
}
.content3 .wapper .con3-left .up li:first-child {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.125rem solid #6daf45;
}
.content3 .wapper .con3-left .up li:first-child a:first-child {
  text-align: center;
  width: 3.75rem;
  color: #fff;
  display: inline-block;
  background-color: #6daf45;
}
.content3 .wapper .con3-left .up li:first-child a {
  color: #555;
  font-size: 1.25rem;
}
.content3 .wapper .con3-left .up li:not(:first-child):not(:last-child) {
  font-size: 1.1rem;
  margin: 1rem 0;
}
.content3 .wapper .con3-left .up li:not(:first-child):not(:last-child) a {
  color: #555;
  font-weight: 600;
}
.content3 .wapper .con3-left .up li:last-child {
  text-align: center;
}
.content3 .wapper .con3-left .down {
  margin: 1.25rem 0;
}
.content3 .wapper .con3-left .down li:first-child {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.125rem solid #6daf45;
}
.content3 .wapper .con3-left .down li:first-child a:first-child {
  text-align: center;
  width: 3.75rem;
  color: #fff;
  display: inline-block;
  background-color: #6daf45;
}
.content3 .wapper .con3-left .down li:first-child a {
  color: #555;
  font-size: 1.25rem;
}
.content3 .wapper .con3-left .down li:not(:first-child):not(:last-child) {
  font-size: 1.1rem;
  margin: 1rem 0;
}
.content3 .wapper .con3-left .down li:not(:first-child):not(:last-child) a {
  color: #555;
  font-weight: 600;
}
.content3 .wapper .con3-left .down li:last-child {
  text-align: center;
}
.content3 .wapper .con3-mid .up,
.content3 .wapper .con3-mid .mid,
.content3 .wapper .con3-mid .down {
  margin: 1.25rem 0;
}
.content3 .wapper .con3-mid .up li:first-child,
.content3 .wapper .con3-mid .mid li:first-child,
.content3 .wapper .con3-mid .down li:first-child {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.125rem solid #6daf45;
}
.content3 .wapper .con3-mid .up li:first-child a:first-child,
.content3 .wapper .con3-mid .mid li:first-child a:first-child,
.content3 .wapper .con3-mid .down li:first-child a:first-child {
  text-align: center;
  width: 3.75rem;
  color: #fff;
  display: inline-block;
  background-color: #6daf45;
}
.content3 .wapper .con3-mid .up li:first-child a,
.content3 .wapper .con3-mid .mid li:first-child a,
.content3 .wapper .con3-mid .down li:first-child a {
  color: #555;
  font-size: 1.25rem;
}
.content3 .wapper .con3-mid .up li:not(:first-child):not(:last-child),
.content3 .wapper .con3-mid .mid li:not(:first-child):not(:last-child),
.content3 .wapper .con3-mid .down li:not(:first-child):not(:last-child) {
  font-size: 1.1rem;
  margin: 1rem 0;
}
.content3 .wapper .con3-mid .up li:not(:first-child):not(:last-child) a,
.content3 .wapper .con3-mid .mid li:not(:first-child):not(:last-child) a,
.content3 .wapper .con3-mid .down li:not(:first-child):not(:last-child) a {
  color: #555;
  font-weight: 600;
}
.content3 .wapper .con3-mid .up li:last-child,
.content3 .wapper .con3-mid .mid li:last-child,
.content3 .wapper .con3-mid .down li:last-child {
  text-align: center;
}
.content3 .wapper .con3-right .up,
.content3 .wapper .con3-right .mid,
.content3 .wapper .con3-right .down {
  margin: 1.25rem 0;
}
.content3 .wapper .con3-right .up li:first-child,
.content3 .wapper .con3-right .mid li:first-child,
.content3 .wapper .con3-right .down li:first-child {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.125rem solid #6daf45;
}
.content3 .wapper .con3-right .up li:first-child a:first-child,
.content3 .wapper .con3-right .mid li:first-child a:first-child,
.content3 .wapper .con3-right .down li:first-child a:first-child {
  text-align: center;
  width: 3.75rem;
  color: #fff;
  display: inline-block;
  background-color: #6daf45;
}
.content3 .wapper .con3-right .up li:first-child a,
.content3 .wapper .con3-right .mid li:first-child a,
.content3 .wapper .con3-right .down li:first-child a {
  color: #555;
  font-size: 1.25rem;
}
.content3 .wapper .con3-right .up li:not(:first-child):not(:last-child),
.content3 .wapper .con3-right .mid li:not(:first-child):not(:last-child),
.content3 .wapper .con3-right .down li:not(:first-child):not(:last-child) {
  font-size: 1.1rem;
  margin: 1rem 0;
}
.content3 .wapper .con3-right .up li:not(:first-child):not(:last-child) a,
.content3 .wapper .con3-right .mid li:not(:first-child):not(:last-child) a,
.content3 .wapper .con3-right .down li:not(:first-child):not(:last-child) a {
  color: #555;
  font-weight: 600;
}
.content3 .wapper .con3-right .up li:last-child,
.content3 .wapper .con3-right .mid li:last-child,
.content3 .wapper .con3-right .down li:last-child {
  text-align: center;
}
.content3 .wapper .con3-right .up li:last-child {
  text-align: left;
  font-size: 1.1rem;
  margin: 1rem 0;
}
.content3 .wapper .con3-right .up li:last-child a {
  color: #555;
  font-weight: 600;
}
.footer .wapper .link-up {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer .wapper .link-up a {
  color: #555;
  font-size: 1rem;
  margin: 0.625rem;
}
.footer .wapper .row1 {
  margin-top: 1.875rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer .wapper .row1 a {
  color: #555;
  font-size: 1rem;
  margin: 0.625rem;
}
.footer .wapper .row1 em {
  display: none;
}
.footer .wapper .row2,
.footer .wapper .row3 {
  font-size: 0.625rem;
}
.pic .wapper img,
.pic2 .wapper img {
  width: 100vw;
  margin: 1.25rem 0;
}
